DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-xxxxx.eu-west-2.aws.neon.tech/neondb?sslmode=require

SECRET_KEY=ChangeThisToARandomLongSecretKey123!

ADMIN_USERNAME=admin

ADMIN_PASSWORD_HASH=$2b$12$BBPB5fNsJjuC9ihS4iWjUuaEEL.DTmx3zqk/M3X5z4j3lFs3z80ya